.container{
    width: 100vw;
    position: absolute;
    top: 0;
}

.backdrop{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .5s ease-in, transform .3s ease-out;
}

.open{
    opacity: 1;
    transform: translateY(0);
}