.modal-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
}


.modal{
  background-color: blue;
  height: 20%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 20%;
  transform: translateY(-200%);
  opacity: 0;
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.modal--active{
  opacity: 1;
  transform: translateY(0);
}


.modal__actions{
    width: 80%;
    padding: 0.5rem 0 1.5rem 0;
    display: flex;
    justify-content: space-around;
}

.modal__action{
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.modal__action--confirm{
  background-color: green;
  border: 1px solid green;
}

.modal__action--cancel{
  background-color: red;
  border: 1px solid red;
}